# alias {{{
[alias]
    # log commands {{{
    ls      = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    ll      = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lg      = log --graph --all  --decorate --oneline
    dl      = "!git ll -1"
    standup = !git log --since yesterday --author $(git config user.email) --pretty=short
    filelog = log -u
    # }}}
	
    # diff commands {{{
    dr      = "!f() { git diff "$1"^.."$1"; }; f"
    dlc     = diff --cached HEAD^
    changes = diff --stat -r
    # }}}
    
    # convoluted aliases {{{
    la      = "!git config -l | grep alias | cut -c 7-"
    lc      = "!git ls-files | xargs wc -l"
    wc      = "!git ls-files | xargs wc -w"
    ctp     = "!git commit --amend -C HEAD"
    undo    = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
    bsort   = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
    squash  = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
    unstage = "!git reset HEAD --"
    # }}}
	
#}}}
